.containerPaginaPublica {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0px 32px;

  .cotainerConteudo {
    width: 100%;
  }
}
